<h1><%= @message %></h1>
<form method="GET" action="/">
  <input type="text" name="name" />
  <input type="submit" />
</form>

<h3>Users</h3>
<ul>
  <% @people.each do |person| %>
    <li>
      <%= person.name %>
    </li>
  <% end %>
</ul>
